h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h5 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.2;
}
p {
    color: #212529;
}

h5,
p {
    padding-top: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hist-container {
    display: flex;
}

.hist-sec1 {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.hist-sec2 {
    display: flex;
    white-space: wrap;
    flex-direction: column;
    padding: 20px 24px;
    width: 60%;
    background-color: rgb(248, 248, 248);
}

.hist-slide {
    margin-top: 70px;
}

.arrow-left {
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 25px;
    height: 25px;
}
   
.arrow-left::after,
.arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px
}
   
.arrow-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    transform: rotate(45deg);
    bottom: 7px
}
   
.arrow-left::before {
    width: 16px;
    height: 1px;
    bottom: 10px;
    background: currentColor
}

.slideshow {
    padding: 0px 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.mainImg {
    width: 350px;
    transition: all 1s ease 0s;
}

.actions {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    left: 50px;
    width: 31vw;
    align-items: center;
}

.actions button {
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    width: 23px;
    right: 40px;
    height: 40px;
}

.actions .prev,
.next {
    width: 10px;
    height: 10px;
}

.monarch-title {
    margin-top: 20px;
    margin-bottom: 30px;
}

.mon-hist {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    padding: 20px 30px;
    overflow-y: auto;
    background-color: white;
    font-size: 0.8rem;
    margin: 0px 0px 8px;
    width: 100%;
    flex-wrap: nowrap;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(215, 214, 214);
}

::-webkit-scrollbar-thumb:hover {
    background-color: red;
    height: 10px;
}

::-webkit-scrollbar{
    height: 100px;
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(215, 214, 214);
}

.p-10 {
    padding: 8px;
}
